<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<WebSnapper>
	<LookForKeyWord>WebSnapper</LookForKeyWord>
	<URLsToVisit>
		<WebSnapperTask snapTitle="StackOverflow" pathsToExtract="!CSS Path To the element to extract!">
			https://stackoverflow.com
		</WebSnapperTask>
		<WebSnapperTask snapTitle="Google India" pathsToExtract="body > article > #SearchResults">
			https://www.google.co.in/
		</WebSnapperTask>
		<WebSnapperTask snapTitle="!Title Here!" updateAndRetry="true">
			<SubSteps>
				<Step action="SetValue" target="!UserName TextBox's ID here!" value="your_login_id" />
				<Step action="SetValue" target="!Password TextBox's ID here!" value="your_password" />
				<Step action="Click" target="!Login / Submit Button's ID here!" />
			</SubSteps>
			https://mail.google.com/
		</WebSnapperTask>
	</URLsToVisit>
	<StyleSheetsToLink>
		<StyleSheet>https://www.google.com/styles.css</StyleSheet>
		<StyleSheet>https://stackoverflow.com/styles.css</StyleSheet>
	</StyleSheetsToLink>
	<MailRecepients>
		<MailRecepient>A@B.com</MailRecepient>
		<MailRecepient>B@C.com</MailRecepient>
	</MailRecepients>
</WebSnapper>